<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBootDeveloperApplication" type="Application" factoryName="Application" nameIsGenerated="true">
    <option name="ALTERNATIVE_JRE_PATH" value="$PROJECT_DIR$/../../../jdk-17.0.14+7" />
    <option name="ALTERNATIVE_JRE_PATH_ENABLED" value="true" />
    <option name="MAIN_CLASS_NAME" value="me.hyowon.springbootdeveloper.SpringBootDeveloperApplication" />
    <module name="springboot-developer.main" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>